body{
    background-color: #3d3b3b;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

h1{
    text-align: center;
    margin-top: 50px;
    color: #e4e2e2;
}

.container{
    width: 40%;
    height: 60vh;
    margin: auto;
    padding: 10px;
    overflow: hidden;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.container div{
    width: 70%;
    height: 90px;
    padding: 10px;
    display: inline-block;
    vertical-align: top;
    position: relative;
    font-size: 0;
    background-color: #e4e2e2;
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    margin: 10px;
    transition: 0.5s;
    cursor: pointer;
}

.container div:hover{
    transform: scale(1.1);
}


.message{
    position: absolute;
    font-weight: bold;
    text-align: center;
    color: #e4e2e2;
    width: 30%;
    height: 50px;
    top: 40vh;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px;
    background-color: #8b8282;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}


#reset{
    display: block;
    margin: auto;
    margin-top: 20px;
    padding: 20px 40px;
    background-color: #e4e2e2;
    color: #3d3b3b;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.5s;
}

#reset:hover
{
    background-color: #8b8282;
    color: #e4e2e2;
}

@media screen and (max-width: 768px){
    .container{
        width: 80%;
    }
}